body{
    background-color: #ffcc99;
}
.jumbotron{
    background-color: #ffcc99;
}
#burger {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: auto;
}

#main{
    text-align: center;
}

.lead{
    text-align: center;
}


#new{
    text-align: center;
}