  
<li>
	{{burger_name}}


    <button type="button" class="eat-burger btn btn-outline-primary" data-id="{{id}}" data-newdevoured="{{devoured}}">
        {{#if devoured}}Eat It!{{else}}Reorder{{/if}}</button>


</li>